

.promos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100vh;
    
    grid-template-areas: "left right";
                         
    
    width: 100vw;
    background: var(--very-low-pink);
    
}




.img-left-promos {
    grid-area: left;   
    width: 75rem;
    
    background-image: url('../../assets/imgLeft-produtos.png');
    background-size: contain;
    
    background-repeat: no-repeat, repeat;
    
}

 

.container-produtos {
    grid-area: right;    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;


    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.logo{
    width: 80%;
}
.logo img {
    
    height: 10rem;
}

.produtos{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
    width: 80%;
}

.produto {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 3rem 3rem 0 0;
    background: var(--low-pink);
    height: 30rem;
    gap: 2rem;
    width: 23.7rem;
}

.produto img {
    padding: 1rem;
    
}



.price {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    height: 7.7rem;
    background: var(--strong-purple);
    line-height: 3rem;
    
}

.price div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    height: 100%;
    width: 100%;
}



.price button {
    padding: 0 1rem;
    
    background: var(--hard-blue);
    height: 100%;
    cursor: pointer;
    font-size: 2rem;
    color: var(--very-low-pink);
}

.console-name {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    color: var(--very-low-pink);
    
}
.price div span {
    
    font-size: 4rem;
    color: var(--soft-blue);
    
    text-align: center;
}


form {
    padding: 3rem;
    border-radius: 3rem;
    margin-top: 5rem;
    width: 80%;
    background: var(--low-pink);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form h1 {
    font-size: 3rem;
    margin-bottom: .8rem;
    color: var(--high-pink);
    
}

.form input {
    border-radius: 5rem;
    width: 95%;
    height: 3rem;
    text-align: center;
    color: var(--strong-purple);
    background: var(--soft-blue);
    outline: none;
    
    


    
}

.form input::placeholder {
    text-align: center;
    color: var(--hard-blue);
}

.form button {
    border-radius: 2rem;
    padding: 1rem 2rem;
    background: var(--hard-blue);
    margin-top: 2rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--very-low-pink);
}

@media only screen and  (max-width: 141rem) {
    .promos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100vw;
            
    }

    .container-produtos {
        display: flex;
        
        width: 100%;
    
    
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 3rem;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 5rem 0;
    }
    .logo img {
        
        height: 10rem;
    }

    .produtos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        
    }

    .produto  {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
        height: auto;

    }



    .produto img {
        width: 70%;
        padding: 2rem;
    }




    .price {
        display: flex;
        
        width: 100%;
        
        
        text-align: center;
    }
    .price button {
        
        height: 100%;                                          
        background: var(--hard-blue);
        
        cursor: pointer;
        font-size: 2rem;
        color: var(--very-low-pink); 
        outline: none;
 
    }

    .price div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2rem;
        align-items: center;
        gap: 2rem;
    }

    .console-name {
  
        
        font-size: 3rem;
        color: var(--very-low-pink);
        
    }
    .price div span {
        
        font-size: 4rem;
        color: var(--soft-blue);
        
        
    }
   

    form {
        padding: 3rem;
        border-radius: 3rem;
        margin: 5rem 0 5vh 0;
        width: 100%;
        background: var(--low-pink);
    }
}