* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  
}
body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  --high-pink:#e174a8 ;
  --low-pink:#f6c5dc;  
  --very-low-pink:#fadae9;  
  --medium-purple:#70596e;
  --strong-purple:#5b3e58;
  --soft-blue: #c0f3f6;
  --hard-blue: #5c9093;
  --white: #eff3f5;
  
  
}

.footer {
  position: fixed;
  bottom: 0;

  
  
  
}





